{% extends 'store/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<h1 style="text-align: center;">PROFILNI O'ZGARTIRISH</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form|crispy }}
		{{ profile_form|crispy }}
		<br>
		<input type="submit" class="btn btn-primary mb-2" name="submit" value="O'ZGARISHLARNI SAQLASH">
		<a class="btn btn-secondary mb-2" href="{% url 'profilepage' username=user.username %}">O'ZGARISHLARNI BEKOR QILISH</a>
	</form>

{% endblock %}

